name: CD

on:
  release:
    types: [published]

jobs:
  build_and_deploy:

    runs-on: ubuntu-latest

    steps:
    - name: checkout
      uses: actions/checkout@v4
    
    - name: tag to version
      shell: bash -l {0}
      run: echo "__version__='${GITHUB_REF#refs/*/}'" > semi_ate_installer/__init__.py

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build
        
#    - name: directory structure
#      shell: bash -l {0}
#      run: |
#        pwd
#        tree
#        cat semi_ate_installer/__init__.py
      
    - name: Build package
      run: python -m build

    - name: Publish package
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        user: __token__
        password: ${{ secrets.PYPI_TOKEN }}
